<div class="container">
  <div class="row">
    <div class="col-sm-3">
        <div class="buttons" *ngFor="let character of characters.characters">
          <button type="button" class="btn btn-warning" (click)="emitSelection(character)" >{{character.name}}</button>
        </div>
    </div>

    <div class="col-sm-9" *ngIf="!error">
      <h2>Titles</h2>
      <div class="row">
        <div class="film-list" *ngFor="let film of films">
          <div class="font-weight-bold">{{film.title}}</div>
          <div class="font-italic">{{film.opening_crawl}}</div>
          <div> <span class="font-weight-bold">Released Date: </span> {{film.release_date | date:'EEEE, MMMM d, y'}}</div>
          <div> <span class="font-weight-bold">Directed by </span> {{film.director}}</div>
          <div> <span class="font-weight-bold">Produced by</span> {{film.producer}}</div>
        </div>
      </div>
    </div>

    <div class="col-sm-9" *ngIf="error">
      <h1>Error: {{error.error.detail}} :(</h1>
    </div>

  </div>
</div>
